* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    animation: fadeIn 1s ease-out;
}

h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.textbox {
    margin: 20px 0;
    position: relative;
}

.textbox input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.textbox input:focus {
    border-color: #0044ff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #0044ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0044ff;
}

.signup-link {
    margin-top: 15px;
}

.signup-link a {
    color: #0044ff;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
